extends layouts/default

block content

	.container(style='background: #f6f7f8; margin-top: 5%; margin-bottom: 5%;padding: 3%;')

		.row
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-2 grid2
			.grid-2 grid2
			.grid-2 grid2
			.grid-2 grid2
			.grid-2 grid2
			.grid-2 grid2

		.row
			.grid-3 grid3
			.grid-3 grid3
			.grid-3 grid3
			.grid-3 grid3


		.row
			.grid-4 grid4
			.grid-4 grid4
			.grid-4 grid4

		.row
			.grid-5 grid5
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-6 grid6
			.grid-6 grid6


		.row
			.grid-7 grid7
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-8 grid8
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-9 grid9
			.grid-1 grid1
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-10 grid10
			.grid-1 grid1
			.grid-1 grid1

		.row
			.grid-11 grid11
			.grid-1 grid1

		.row
			.grid-12 grid12
