extends layouts/default

block content

	.container
		.row
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%; border-radius: 1px 1px 0px 0px;')
				//div(style='width: 100%; background:#fff;')
					h3 Blues Deluxe
					p Joe Bonamassa
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
		.row
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%; border-radius: 1px 1px 0px 0px;')
				//div(style='width: 100%; background:#fff;')
					h3 Blues Deluxe
					p Joe Bonamassa
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')
			.col-dk-2.col-ipad-2.col-mb-2
				img(src='images/album.png' style='max-width: 100%;')