// /* VARIABLES */

// //DESTKOP
// $container-dk: 1174px;
// $column_dk: 74px;
// $margin-dk-px: 26px;
// $margin-dk: ($margin-dk-px/$container-dk)*100+%;
// $col-dk-1: $column_dk;
// $col-dk-2: ($column_dk*2)+($margin-dk-px);
// $col-dk-3: ($column_dk*3)+($margin-dk-px*2);
// $col-dk-4: ($column_dk*4)+($margin-dk-px*3);
// $col-dk-5: ($column_dk*5)+($margin-dk-px*4);
// $col-dk-6: ($column_dk*6)+($margin-dk-px*5);
// $col-dk-7: ($column_dk*7)+($margin-dk-px*6);
// $col-dk-8: ($column_dk*8)+($margin-dk-px*7);
// $col-dk-9: ($column_dk*9)+($margin-dk-px*8);
// $col-dk-10: ($column_dk*10)+($margin-dk-px*9);
// $col-dk-11: ($column_dk*11)+($margin-dk-px*10);
// $col-dk-12: ($column_dk*12)+($margin-dk-px*11);

// //IPAD LANDSCAPE
// $container-ipadl: 748px;
// $column-ipadl: 44px;
// $margin-ipadl-px: 20px;
// $margin-ipadl: ($margin-ipadl-px/$container-ipadl)*100+%;
// $col-ipadl-1: $column-ipadl;
// $col-ipadl-2: ($column-ipadl*2)+($margin-ipadl-px);
// $col-ipadl-3: ($column-ipadl*3)+($margin-ipadl-px*2);
// $col-ipadl-4: ($column-ipadl*4)+($margin-ipadl-px*3);
// $col-ipadl-5: ($column-ipadl*5)+($margin-ipadl-px*4);
// $col-ipadl-6: ($column-ipadl*6)+($margin-ipadl-px*5);
// $col-ipadl-7: ($column-ipadl*7)+($margin-ipadl-px*6);
// $col-ipadl-8: ($column-ipadl*8)+($margin-ipadl-px*7);
// $col-ipadl-9: ($column-ipadl*9)+($margin-ipadl-px*8);
// $col-ipadl-10: ($column-ipadl*10)+($margin-ipadl-px*9);
// $col-ipadl-11: ($column-ipadl*11)+($margin-ipadl-px*10);
// $col-ipadl-12: ($column-ipadl*12)+($margin-ipadl-px*11);

// //IPAD PORTRAIT
// $container-ipadp: 576px;
// $column-ipadp: 52px;
// $margin-ipadp-px: 20px;
// $margin-ipadp: ($margin-ipadp-px/$container-ipadp)*100+%;
// $col-ipadp-1: $column-ipadp;
// $col-ipadp-2: ($column-ipadp*2)+($margin-ipadp-px);
// $col-ipadp-3: ($column-ipadp*3)+($margin-ipadp-px*2);
// $col-ipadp-4: ($column-ipadp*4)+($margin-ipadp-px*3);
// $col-ipadp-5: ($column-ipadp*5)+($margin-ipadp-px*4);
// $col-ipadp-6: ($column-ipadp*6)+($margin-ipadp-px*5);
// $col-ipadp-7: ($column-ipadp*7)+($margin-ipadp-px*6);
// $col-ipadp-8: ($column-ipadp*8)+($margin-ipadp-px*7);

// //MOBILE
// $container-mb: 620px;
// $column_mb: 60px;
// $margin-mb-px: 20px;
// $margin-mb: ($margin-mb-px/$container-mb)*100+%;
// $padding-percent: (26px/$container-mb)*100+%;
// $col-mb-1: $column_mb;
// $col-mb-2: ($column_mb*2)+($margin-mb-px);
// $col-mb-3: ($column_mb*3)+($margin-mb-px*2);
// $col-mb-4: ($column_mb*4)+($margin-mb-px*3);
// $col-mb-5: ($column_mb*5)+($margin-mb-px*4);
// $col-mb-6: ($column_mb*6)+($margin-mb-px*5);
// $col-mb-7: ($column_mb*7)+($margin-mb-px*6);
// $col-mb-8: ($column_mb*8)+($margin-mb-px*7);

// //ipad landscape
// @media(max-width: 768px){
	
// 	.container{
// 		width: 100%;
// 		max-width: $container-mb;
// 		padding: 10px;
// 		margin: auto;
// 	}

// 	.col-ipadl {
// 		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
// 			float: left;
// 			margin-right: $margin-mb;
// 		}
// 	}

// 	.container{
// 		.col-ipadl{
// 			&-1{
// 				width:(($col-mb-1)/$container-mb)*100+%;
// 			}
// 			&-2{
// 				width:(($col-mb-2)/$container-mb)*100+%;
// 			}
// 			&-3{
// 				width:(($col-mb-3)/$container-mb)*100+%;
// 			}
// 			&-4{
// 				width:(($col-mb-4)/$container-mb)*100+%;
// 			}
// 			&-5{
// 				width:(($col-mb-5)/$container-mb)*100+%;
// 			}
// 			&-6{
// 				width:(($col-mb-6)/$container-mb)*100+%;
// 			}
// 			&-7{
// 				width:(($col-mb-7)/$container-mb)*100+%;
// 			}
// 			&-8{
// 				width:(($col-mb-8)/$container-mb)*100+%;
// 			}
// 		}
// 	}
// }

// //ipad portrait
// @media(max-width: 576px){

// 	.container{
// 		width: 100%;
// 		max-width: $container-ipadp;
// 		padding: 10px;
// 		margin: auto;
// 	}

// 	.col-ipadp {
// 		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
// 			float: left;
// 			margin-right: $margin-ipadp;
// 		}
// 	}

// 	.container{
// 		.col-ipadp{
// 			&-1{
// 				width:(($col-ipadp-1)/$container-ipadp)*100+%;
// 			}
// 			&-2{
// 				width:(($col-ipadp-2)/$container-ipadp)*100+%;
// 			}
// 			&-3{
// 				width:(($col-ipadp-3)/$container-ipadp)*100+%;
// 			}
// 			&-4{
// 				width:(($col-ipadp-4)/$container-ipadp)*100+%;
// 			}
// 			&-5{
// 				width:(($col-ipadp-5)/$container-ipadp)*100+%;
// 			}
// 			&-6{
// 				width:(($col-ipadp-6)/$container-ipadp)*100+%;
// 			}
// 			&-7{
// 				width:(($col-ipadp-7)/$container-ipadp)*100+%;
// 			}
// 			&-8{
// 				width:(($col-ipadp-8)/$container-ipadp)*100+%;
// 			}
// 		}
// 	}
// }

// //mobile
// @media(max-width: 640px){

// 	.container{
// 		width: 100%;
// 		max-width: $container-ipadp;
// 		padding: 10px;
// 		margin: auto;
// 	}

// 	.col-mb {
// 		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
// 			float: left;
// 			margin-right:$margin-ipadp;
// 		}
// 	}

// 	.container{
// 		.col-mb{
// 			&-1{
// 				width:(($col-ipadp-1)/$container-ipadp)*100+%;
// 			}
// 			&-2{
// 				width:(($col-ipadp-2)/$container-ipadp)*100+%;
// 			}
// 			&-3{
// 				width:(($col-ipadp-3)/$container-ipadp)*100+%;
// 			}
// 			&-4{
// 				width:(($col-ipadp-4)/$container-ipadp)*100+%;
// 			}
// 			&-5{
// 				width:(($col-ipadp-5)/$container-ipadp)*100+%;
// 			}
// 			&-6{
// 				width:(($col-ipadp-6)/$container-ipadp)*100+%;
// 			}
// 			&-7{
// 				width:(($col-ipadp-7)/$container-ipadp)*100+%;
// 			}
// 			&-8{
// 				width:(($col-ipadp-8)/$container-ipadp)*100+%;
// 			}
// 		}
// 	}
// }