//DESTKOP
$container-dk: 1174px;
$column_dk: 74px;
$margin-dk-px: 26px;
$container-dk-max: $container-dk+($margin-dk-px*2);
$margin-dk: ($margin-dk-px/$container-dk)*100+%;
$col-dk-1: $column_dk;
$col-dk-2: ($column_dk*2)+($margin-dk-px);
$col-dk-3: ($column_dk*3)+($margin-dk-px*2);
$col-dk-4: ($column_dk*4)+($margin-dk-px*3);
$col-dk-5: ($column_dk*5)+($margin-dk-px*4);
$col-dk-6: ($column_dk*6)+($margin-dk-px*5);
$col-dk-7: ($column_dk*7)+($margin-dk-px*6);
$col-dk-8: ($column_dk*8)+($margin-dk-px*7);
$col-dk-9: ($column_dk*9)+($margin-dk-px*8);
$col-dk-10: ($column_dk*10)+($margin-dk-px*9);
$col-dk-11: ($column_dk*11)+($margin-dk-px*10);
$col-dk-12: ($column_dk*12)+($margin-dk-px*11);

//IPAD LANDSCAPE
$container-ipadl: 748px;
$column-ipadl: 44px;
$margin-ipadl-px: 10px;
$container-ipadl-max: $container-ipadl+($margin-ipadl-px*2);
$margin-ipadl: ($margin-ipadl-px/$container-ipadl)*100+%;
$col-ipadl-1: $column-ipadl;
$col-ipadl-2: ($column-ipadl*2)+($margin-ipadl-px);
$col-ipadl-3: ($column-ipadl*3)+($margin-ipadl-px*2);
$col-ipadl-4: ($column-ipadl*4)+($margin-ipadl-px*3);
$col-ipadl-5: ($column-ipadl*5)+($margin-ipadl-px*4);
$col-ipadl-6: ($column-ipadl*6)+($margin-ipadl-px*5);
$col-ipadl-7: ($column-ipadl*7)+($margin-ipadl-px*6);
$col-ipadl-8: ($column-ipadl*8)+($margin-ipadl-px*7);
$col-ipadl-9: ($column-ipadl*9)+($margin-ipadl-px*8);
$col-ipadl-10: ($column-ipadl*10)+($margin-ipadl-px*9);
$col-ipadl-11: ($column-ipadl*11)+($margin-ipadl-px*10);
$col-ipadl-12: ($column-ipadl*12)+($margin-ipadl-px*11);

//IPAD PORTRAIT
$container-ipadp: 556px;
$column-ipadp: 52px;
$margin-ipadp-px: 10px;
$container-ipadp-max: $container-ipadp+($margin-ipadp-px*2);
$margin-ipadp: ($margin-ipadp-px/$container-ipadp)*100+%;
$col-ipadp-1: $column-ipadp;
$col-ipadp-2: ($column-ipadp*2)+($margin-ipadp-px);
$col-ipadp-3: ($column-ipadp*3)+($margin-ipadp-px*2);
$col-ipadp-4: ($column-ipadp*4)+($margin-ipadp-px*3);
$col-ipadp-5: ($column-ipadp*5)+($margin-ipadp-px*4);
$col-ipadp-6: ($column-ipadp*6)+($margin-ipadp-px*5);
$col-ipadp-7: ($column-ipadp*7)+($margin-ipadp-px*6);
$col-ipadp-8: ($column-ipadp*8)+($margin-ipadp-px*7);

//MOBILE landscape
$container-mbl: 620px;
$column-mbl: 60px;
$margin-mbl-px: 10px;
$container-mbl-max: $container-mbl+($margin-mbl-px*2);
$margin-mbl: ($margin-mbl-px/$container-mbl)*100+%;
$padding-percent: (26px/$container-mbl)*100+%;
$col-mbl-1: $column-mbl;
$col-mbl-2: ($column-mbl*2)+($margin-mbl-px);
$col-mbl-3: ($column-mbl*3)+($margin-mbl-px*2);
$col-mbl-4: ($column-mbl*4)+($margin-mbl-px*3);
$col-mbl-5: ($column-mbl*5)+($margin-mbl-px*4);
$col-mbl-6: ($column-mbl*6)+($margin-mbl-px*5);
$col-mbl-7: ($column-mbl*7)+($margin-mbl-px*6);
$col-mbl-8: ($column-mbl*8)+($margin-mbl-px*7);

//Mobile Portrait
$container-mbp: 340px;
$column_mbp: 64px;
$margin-mbp-px: 13px;
$container-mbp-max: $container-mbp+($margin-mbp-px*2);
$margin-mbp: ($margin-mbp-px/$container-mbp)*100+%;
$padding-percent: (26px/$container-mbp)*100+%;
$col-mbp-1: $column_mbp;
$col-mbp-2: ($column_mbp*2)+($margin-mbp-px);
$col-mbp-3: ($column_mbp*3)+($margin-mbp-px*2);
$col-mbp-4: ($column_mbp*4)+($margin-mbp-px*3);

*, *:before, *:after {
	box-sizing: border-box;
}

.container{
	max-width: $container-dk-max;
	margin: auto;
}

[class^="col"]:last-child {
    margin-right: 0;
}

.row { 
	margin-bottom: $margin-dk;
	&:last-of-type { 
		margin-bottom: 0; 
	}
}

// [class^="col-"] {
// 	background: #e4e5e7;
// 	text-align: center;
// 	color: #767779;
// 	padding: 20px;
// }

//desktop
.col-dk {
	&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
		float: left;
		margin-right: $margin-dk;
	}
}

.container{
	.col-dk{
		//(target/context)*100
		&-1{
			width:(($col-dk-1)/$container-dk-max)*100+%;
		}
		&-2{
			width:(($col-dk-2)/$container-dk-max)*100+%;
		}
		&-3{
			width:(($col-dk-3)/$container-dk-max)*100+%;
		}
		&-4{
			width:(($col-dk-4)/$container-dk-max)*100+%;
		}
		&-5{
			width:(($col-dk-5)/$container-dk-max)*100+%;
		}
		&-6{
			width:(($col-dk-6)/$container-dk-max)*100+%;
		}
		&-7{
			width:(($col-dk-7)/$container-dk-max)*100+%;
		}
		&-8{
			width:(($col-dk-8)/$container-dk-max)*100+%;
		}
		&-9{
			width:(($col-dk-9)/$container-dk-max)*100+%;
		}
		&-10{
			width:(($col-dk-10)/$container-dk-max)*100+%;
		}
		&-11{
			width:(($col-dk-11)/$container-dk-max)*100+%;
		}
		&-12{
			width:(($col-dk-12)/$container-dk-max)*100+%;
		}
	}
}

.clear, .row{
	&:before,
	&:after{ content: ''; display: table; }
	&:after{ clear: both; }
}

.row { margin-bottom: $margin-dk;
	&:last-of-type { margin-bottom: 0; }
}

.clear { zoom: 1; }

//ipad landscape
@media(min-width: 768px) and (max-width: 960px){
	
	.container{
		max-width: $container-ipadl-max;
	}

	.col-ipad{
		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
			float: left;
			margin-right: $margin-ipadl;
		}
	}

	.container{
		.col-ipad{
			&-1{
				width:(($col-ipadl-1)/$container-ipadl-max)*100+%;
			}
			&-2{
				width:(($col-ipadl-2)/$container-ipadl-max)*100+%;
			}
			&-3{
				width:(($col-ipadl-3)/$container-ipadl-max)*100+%;
			}
			&-4{
				width:(($col-ipadl-4)/$container-ipadl-max)*100+%;
			}
			&-5{
				width:(($col-ipadl-5)/$container-ipadl-max)*100+%;
			}
			&-6{
				width:(($col-ipadl-6)/$container-ipadl-max)*100+%;
			}
			&-7{
				width:(($col-ipadl-7)/$container-ipadl-max)*100+%;
			}
			&-8{
				width:(($col-ipadl-8)/$container-ipadl-max)*100+%;
			}
		}
	}
	.row { margin-bottom: $margin-ipadl;
		&:last-of-type { margin-bottom: 0; }
	}
}


//mobile landscape
@media only screen and (min-width: 640px) and (max-width: 767px) {
	.container{
		max-width: $container-mbl-max;
	}

	.col-mb {
		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
			float: left;
			margin-right:$margin-mbl;
		}
	}

	.container{
		.col-mb{
			&-1{
				width:(($col-mbl-1)/$container-mbl-max)*100+%;
			}
			&-2{
				width:(($col-mbl-2)/$container-mbl-max)*100+%;
			}
			&-3{
				width:(($col-mbl-3)/$container-mbl-max)*100+%;
			}
			&-4{
				width:(($col-mbl-4)/$container-mbl-max)*100+%;
			}
			&-5{
				width:(($col-mbl-5)/$container-mbl-max)*100+%;
			}
			&-6{
				width:(($col-mbl-6)/$container-mbl-max)*100+%;
			}
			&-7{
				width:(($col-mbl-7)/$container-mbl-max)*100+%;
			}
			&-8{
				width:(($col-mbl-8)/$container-mbl-max)*100+%;
			}
		}
	}
	.row { margin-bottom: $margin-mbl;
		&:last-of-type { margin-bottom: 0; }
	}
}

//ipad portrait
@media only screen and (min-width: 576px) and (max-width: 639px) {
	.container{
		max-width: $container-ipadp-max;
	}

	.col-ipad{
		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
			float: left;
			margin-right: $margin-ipadp;
		}
	}

	.container{
		.col-ipad{
			&-1{
				width:(($col-ipadp-1)/$container-ipadp-max)*100+%;
			}
			&-2{
				width:(($col-ipadp-2)/$container-ipadp-max)*100+%;
			}
			&-3{
				width:(($col-ipadp-3)/$container-ipadp-max)*100+%;
			}
			&-4{
				width:(($col-ipadp-4)/$container-ipadp-max)*100+%;
			}
			&-5{
				width:(($col-ipadp-5)/$container-ipadp-max)*100+%;
			}
			&-6{
				width:(($col-ipadp-6)/$container-ipadp-max)*100+%;
			}
			&-7{
				width:(($col-ipadp-7)/$container-ipadp-max)*100+%;
			}
			&-8{
				width:(($col-ipadp-8)/$container-ipadp-max)*100+%;
			}
		}
	}
	.row { margin-bottom: $margin-ipadp;
		&:last-of-type { margin-bottom: 0; }
	}
}

//mobile portrait
@media only screen and (min-width: 320px) and (max-width: 575px) {
	.container{
		max-width: $container-mbp-max;
	}

	.col-mb{
		&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
			float: left;
			margin-right:$margin-mbp;
		}
	}

	.container{
		.col-mb{
			&-1{
				width:(($col-mbp-1)/$container-mbp-max)*100+%;
			}
			&-2{
				width:(($col-mbp-2)/$container-mbp-max)*100+%;
			}
			&-3{
				width:(($col-mbp-3)/$container-mbp-max)*100+%;
			}
			&-4{
				width:(($col-mbp-4)/$container-mbp-max)*100+%;
			}
		}
	}
}

