head
	meta(charset='UTF-8')
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content=header.description)
	meta(name='author' content=header.author)
	title #{header.title}
	//build:css styles/libs.min.css
	//bower:css
	//endbower
	//endbuild
	//build:css styles/main.min.css
	link(rel='stylesheet' href=paths.styles + '/' + styles.main_style)
	//endbuild
